In [10]:
import pandas_datareader

from pandas_datareader import data

import XLML

data.DataReader("IBM","stooq")

               Open     High      Low    Close        Volume
Date
2023-04-03  130.970  132.610  130.770  132.060  3.840139e+06
2023-03-31  129.470  131.230  129.420  131.090  4.524686e+06
2023-03-30  130.160  131.480  129.100  129.220  3.561762e+06
2023-03-29  130.120  130.350  129.180  129.710  3.279846e+06
2023-03-28  129.180  129.660  128.800  129.340  2.889115e+06
...             ...      ...      ...      ...           ...
2018-04-11  122.683  123.776  122.263  123.464  4.161182e+06
2018-04-10  123.181  124.439  122.956  123.494  4.825626e+06
2018-04-09  120.614  122.898  120.566  121.326  5.553853e+06
2018-04-06  121.941  122.322  118.828  119.648  4.622261e+06
2018-04-05  122.722  123.093  121.853  122.391  4.008716e+06

[1258 rows x 5 columns]